---
import SocialList from '@/components/SocialList.astro';
import PageLayout from '@/layouts/Base.astro';

import projects from '../../data/projectList.json';

export function getStaticPaths() {
  return projects.map((project) => ({
    params: {
      id: project.urlNumber,
      newImageUrl: "./" + project.image
    }
  }));
};

const { id, newImageUrl } = Astro.params;
const project = projects.find((p) => p.urlNumber === id);

if (!project) {
  throw new Error(`Project with id ${id} not found`);
}

const { number, desc, href, title, image, urlNumber } = project;

// import { Debug } from 'astro:components';
---

<PageLayout meta={{ title: 'Projects Details' }}>
	<section>
    <img src={newImageUrl} alt={number} class="w-full object-cover mb-10 size-56 drop-shadow-md rounded-md" />
		<h1 class='title mb-6'>{number} - {title}</h1>
    <h2 class='mb-4'>{desc}</h2>
    <p class='mb-4'>URL: {href}</p>
    <p class='mb-4'>URL: {image}</p>
    <p class='mb-4'>URL Number: {urlNumber}</p>
    <p class='mb-4'>Detailed Business Case -> coming soon...</p>

		<SocialList />
	</section>

</PageLayout>
