---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import FooterSec from "../components/FooterSec.astro";
import Socials from "../components/Socials.astro";

interface Frontmatter {
	title: string;
	subtitle?: string;
	description?: string;
}
// const posts = await Astro.glob<Frontmatter>('../pages/post/*.mdx');
const posts = await Astro.glob('../pages/post/*.mdx')
const postsfiltered = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title='Florian Zeba • Data Engineer'>
	<main transition:animate="slide">
		<h1 class='heading1'>Florian Zeba</h1>

		<Navbar/>

		<ul>
			{postsfiltered.map(
				post => 
				<li>{post.frontmatter.title}</li>
				<li>{post.frontmatter.description}</li>
				<li>{post.frontmatter.subtitle}</li>
				<a href={post.url}>{post.frontmatter.title}</a>
			)}
			<!-- post.title ist vom Typ `string`! -->
		</ul>
		<!-- 
		TODO: Community Loader Notion to load blog posts from notion
		https://astro.build/blog/community-loaders/#notion

		TODO: Test HTMX and alpinejs
		-->

		<br />

		<Socials/>

		<br />

		<FooterSec/>
	</main>
</Layout>