---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import FooterSec from "../components/FooterSec.astro";
import Socials from "../components/Socials.astro";
import Card from "../components/Card.astro";

interface Frontmatter {
	title: string;
	subtitle?: string;
	description?: string;
}
// const posts = await Astro.glob<Frontmatter>('../pages/post/*.mdx');
const projects = await Astro.glob('../pages/project/*.mdx')
const projectsfiltered = projects.filter((projects) => !projects.frontmatter.draft);
---

<Layout title='Florian Zeba • Data Engineer'>
	<main transition:animate="slide">
		<h1 class='heading1'>Florian Zeba</h1>

		<Navbar/>

		<ul role='list' class='link-card-grid'>
			{projectsfiltered.map(
				projects => 
				<Card
				title={projects.frontmatter.title}
				body={projects.frontmatter.subtitle}
				href={projects.url}/>
			)}
		</ul>

		<!-- <ul>
			{projectsfiltered.map(
				projects => 
				<li>{projects.frontmatter.title}</li>
				<li>{projects.frontmatter.description}</li>
				<li>{projects.frontmatter.subtitle}</li>
				<a href={projects.url}>{projects.frontmatter.title}</a>
			)}
		</ul> -->

		<!-- 
		TODO: Community Loader Notion to load blog posts from notion
		https://astro.build/blog/community-loaders/#notion

		TODO: Test HTMX and alpinejs
		-->

		<br />

		<Socials/>

		<br />

		<FooterSec/>
	</main>
</Layout>