---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";
import { ClientRouter } from 'astro:transitions';
import { OpenPanelComponent } from '@openpanel/astro';

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<ClientRouter />
		<OpenPanelComponent
			clientId="96ce8301-d6cc-45ca-b3e8-f4af20dd5145"
			trackScreenViews={true}
			trackAttributes={true}
			trackOutgoingLinks={true}
			/>
	</head>
	<body
		class="mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-4 pt-16 font-mono text-sm font-normal text-textColor antialiased sm:px-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main" transition:animate="slide">
			<slot />
		</main>
		<Footer />
	</body>
</html>
